@import url('https://fonts.googleapis.com/css2?family=Federo&family=Fresca&family=Lato&family=Ubuntu&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Roboto&family=Ubuntu&family=Shadows+Into+Light&display=swap');*/


body {
  background-color: #ece0ec;
}

#content {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
  color: #513d54;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Fresca','Ubuntu', sans-serif;
  line-height: 1.1em;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  color: #513d54;
  padding: 10px;
  font-size: 1.15em;
  font-family: 'Fresca','Roboto', sans-serif;
  line-height: 1.25em;
  margin-top: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #513d54;
  padding: 1em;
}

nav a {
  color: #ece0ec;
  line-height: 1.75em;
  /*padding: .5em .5em;*/
  padding: .75em .5em;
  text-decoration: none;
  text-align: center;
}

nav li {
  font-size: 1em;
  font-family: 'Federo','Ubuntu', sans-serif;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  list-style: none;
}

nav a:hover {
  background-color: #ece0ec;
  color: #513d54;
  border-radius: 4px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: #513d54;
}

img {
  max-width: 100%;
}

.logo {
  width: 100px;
  position: relative;
  margin: 5px;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

.banner {
  width: 100%;
  height: 100%;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /*margin-top: -100px;*/
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  /*background-color: #ece0ec;/*
  /*z-index: -1;*/
}

#hero-msg {
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/2;
  /*margin-top: 100px;*/
}

#hero-msg h4 {
  color: white;
}

.pagetitle {
  font-size: 2.25em;
  margin: 10px 25px 0 25px;
  font-family: 'Federo','Roboto', sans-serif;
}

.home-title {
  font-family: 'Federo', 'Roboto', sans-serif;
  font-size: 2em;
  margin-top: 10px;
  color: white;
}

.home-grid {
  display: grid;
  /*grid-gap: 20px;*/
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, minmax(50px, auto));
}

.home-grid h2 {
  padding-top: 0px;
}

#info {
  font-family: 'Roboto', 'Lato', sans-serif;
  font-size: .5em;
  padding-left: 10px;
  color: #ece0ec;
}

.socialmedia {
  padding: 10px;
}

.socialicons {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  margin: 15px 10px 0 0;
}

.icon {
  width: 55px;
  height: 55px;
  /*border-radius: 4px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  margin: 15px 10px 0 0;*/
}

.button-box {
  text-align: center;
  margin: 25px;
}

.book, .join {
  /*background-color: #ece0ec;
  color: #513d54;*/
  background-color: #513d54;
  color: #ece0ec;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover, .join:hover {
  /*background-color: #513d54;*/
  background-color: #ece0ec;
  box-shadow: 2px 6px 12px black;
  /*color: white;*/
  color: black;
}

.msg {
  background-color: #ece0ec;
  line-height: 1.5em;
  padding-top: 5px;
  padding-bottom: 25px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}

.msg p {
  font-size: .8em;
  padding-bottom: 15px;
}

main, section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

.card-img {
  width: 100%;
  border: 10px solid #513d54;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
  opacity: .6;
  transform: scale(1.1);
}

.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
}

.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
}

.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
}

.mountains {
  width: 100%;
  margin: 35px;
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
}

#background {
  text-align: center;
  /*width: 90%;
  /*height: auto;
  /*margin: 0 10px 0 65px;*/
  background-color: #ece0ec;
  grid-column: 1/11;
  grid-row: 4/9;
}

/*footer {
  display: grid;
  grid-template-columns: 1fr max-content repeat(3, max-content);
  align-items: center;
  justify-content: center;
  /*text-decoration: underline;
  line-height: 1.75em;
  background-color: #513d54;
}*/

footer {
  background-color: #513d54;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h3 {
  font-size: 1em;
  margin: 15px;
}

footer h3 a {
  text-decoration: none;
    color: #ece0ec;
}

footer h3 a:hover {
  text-decoration: underline;
}

.rivers-content {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(10, minmax(50px, auto));
  background-color: #ece0ec;
  justify-items: center;
  align-items: center;
}

.river-img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.river-img:hover {
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

#salmon-img {
  grid-column: 2/8;
  grid-row: 3/4;
  /*width: 450px;*/
  justify-content: stretch;
}

#gray-img {
  grid-column: 9/15;
  grid-row: 5/6;
  justify-content: stretch;
}

#salmon-msg {
  border-style: solid;
  border-width: 2px;
  background-color: white;
  grid-column: 9/15;
  grid-row: 3/4;
  justify-content: stretch;
}

#gray-msg {
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  grid-column: 2/8;
  grid-row: 5/6;
  justify-content: stretch;
}

#salmon-label, #gray-label {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0px;
}

.rivers-contact {
  grid-column: 2/15;
  grid-row: 8/9;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  background-color: white;
}

#rivers-trips {
  padding-top: 20px;
  margin: 0px;
  font-size: 2em;
}

#rivers-contact {
  padding: 0px 0px 20px 0px;
  margin: 0px;
  font-size: 1.6em;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(20, minmax(10px, auto));
  background-color: #ece0ec;
  justify-items: center;
  align-items: center;
}

#about-txt {
  grid-column: 2/15;
  grid-row: 3/4;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  background-color: white;
}

.about-img {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.about-img:hover {
  -webkit-transform:scale(1.75);
  transform:scale(1.75);
}

#about-img1 {
  grid-column: 3/5;
  grid-row: 5/7;
}

#about-img2 {
  grid-column: 6/8;
  grid-row: 6/8;
}

#about-img3 {
  grid-column: 9/11;
  grid-row: 5/7;
}

#about-img4 {
  grid-column: 12/14;
  grid-row: 6/8;
}

#about-contact img {
  width: 50px;
}

#about-contact {
  grid-column: 1/8;
  grid-row: 8/9;
  color: #513d54;
  font-size: 1.6em;
  font-weight: bold;
}

#about-contact-msg1 {
  grid-column: 1/14;
  grid-row: 12/13;
  color: #513d54;
  font-size: 2em;
  font-weight: bold;
  padding: 20px 0px 0px 20px;
  margin: 0px;
  justify-self: left;
}

#about-contact-msg2 {
  grid-column: 1/14;
  grid-row: 13/14;
  color: #513d54;
  font-size: 2em;
  font-weight: bold;
  padding: 0px 0px 20px 20px;
  margin: 0px;
  justify-self: left;
}

#about-call {
  width: 65px;
  grid-column: 1/2;
  grid-row: 14/15;
}

#about-call-msg {
  grid-column: 2/8;
  grid-row: 14/15;
  color: #513d54;
  font-size: 1.2em;
  justify-self: left;
  padding-top: 20px;
}

#about-callfree {
  width: 65px;
  grid-column: 1/2;
  grid-row: 16/17;
}

#about-callfree-msg {
  grid-column: 2/8;
  grid-row: 16/17;
  color: #513d54;
  font-size: 1.2em;
  justify-self: left;
  padding-top: 20px;
}

#about-email {
  width: 65px;
  grid-column: 1/2;
  grid-row: 18/19;
}

#about-email-msg {
  grid-column: 2/8;
  grid-row: 18/19;
  color: #513d54;
  font-size: 1.2em;
  justify-self: left;
  padding-top: 20px;
}

#about-payment {
  grid-column: 8/13;
  grid-row: 8/9;
  color: #513d54;
  font-size: 1.6em;
  font-weight: bold;
}

#about-pay-msg {
  grid-column: 10/14;
  grid-row: 12/13;
  color: #513d54;
  font-size: 2em;
  font-weight: bold;
  padding: 20px 0px 0px 40px;
  margin: 0px;
  justify-self: left;
}

#about-discover {
  width: 80%;
  grid-column: 10/12;
  grid-row: 13/14;
}

#about-visa {
  width: 80%;
  grid-column: 12/14;
  grid-row: 13/14;
}

#about-master {
  width: 80%;
  grid-column: 10/12;
  grid-row: 14/17;
  padding-top: 15px;
  align-self: start;
}

#about-paypal {
  width: 80%;
  grid-column: 12/14;
  grid-row: 14/17;
  padding-top: 15px;
  align-self: start;
}

#about-payment img {
  width: 100px;
}

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}


@media screen and (max-width: 900px) {
  #hero, .home-grid {
    display: block;
    height: auto;
  }
  nav, footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
    background-color: #ece0ec;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  .home-title {
    position: relative;
    top: 65px;
    font-size: 25px;
    color: #513d54;
  }
  .rivers-card, .camping-card, .rapids-card { 
    margin: 50px auto;
    width: 60%;
  }
  #background {
    display: none;
  }
  .mountains, .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }

  .rivers-content {
    display: block;
  }

  #gray-img, #salmon-img {
    width: 400px;
  }
  
  .rivers-contact, #salmon-msg, #gray-msg {
    margin: 20px;
    width: auto;
  }

  .button-box {
    position: relative;
    top: -50px;
    text-align: center;
    margin: 25px;
    background-color: #ece0ec;
  }

  #content {
    background-color: #ece0ec;
  }

  .about-content {
    display: block;
  }

  #about-img1, #about-img2, #about-img3, #about-img4 {
    width: 150px;
    height: 75px;
  }

  #about-call, #about-callfree, #about-email {
    width: 100px;
  }

  #about-discover, #about-visa, #about-master, #about-paypal {
    width: 100px;
  }

  #about-txt {
    width: auto;
  }

}

#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  /* make this element invisible until we are ready for it */
  display: none;       
}
.moveDown {
  margin-top: 3em;
}