body {
    background-color: rgb(246, 165, 211);
    /*text-align: center;*/
}
ol {
    width: 60%;
    font-size: 25px;
    margin: 0 auto;
}
header p {
    width: 60%;
    color: white;
    font-size: 20px;
    margin: 20px auto;
    text-align: center;
}
h1 {
    font-size: 4em;
    text-align:center;
    color: white;
}
h1:hover {
    color: black;
}
main img {
    display: block;
    width: 30%;
    margin: 20px auto;
}
main p {
    width: 50%;
    color: white;
    font-size: 55px;
    margin: 50px auto;
    /*text-align: center;*/
}
header p.main-name {
    font-size: 30PX;
}
nav, footer {
    width: 65%;
    margin: 0 auto;
    text-align:center;
    color: black;
    padding: 10px;
}
footer p {
    font-size: 30px;
    margin: 0 auto;
}