
body {
    background-color: black;
  }

.challenge09 {
    max-width: 300px;
    /*justify-content: center;*/
    margin: 0 auto;
    padding: 0px;
    background-color: black;
  }

h1 {
    background-color: white;
    font-size: 2.5em;
    font-weight: bolder;
    z-index: 1;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

img {
    border-radius: 25px 25px 0px 0px;
    position: relative;
    top: 10px;
}

p {
    color: black;
    background-color: white;
    /*font-size: 4em;*/
    align-self:flex-end;
    text-align: center;
    margin: 0px;
    padding: 25px;
}

h4 {
    background-color: white;
    color: blue;
    text-align: center;
    margin: 0px;
    padding-top: 20px;
}

.section1 {
    height: 80px;
    border-radius: 0px 0px 25px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: blue;
    color: white;
    text-justify: auto;

}

ul {
    margin: 0px auto;
    padding: 0px;
}



