.challenge-grid {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-gap: 0px;
}

h1 {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 6.5em;
    z-index: 1;
    text-align: center;
}

img {
    background-color: white;
    width: 350px;
    grid-column: 1/2;
    grid-row: 1/3;
}

.section {
    background-color: lightgray;
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
}

p {
    color: darkred;
    font-size: 4em;
    align-self:flex-end;
    text-align: center;
}



